
{{!-- Bienvenida --}}

<div class="tituloProductos">
    <h2>Bienvenidos a 7_Components</h2>
</div>

{{!-- Testimonios --}}

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Pancho Ibañez</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Officiis commodi sapiente, at accusamus harum consequuntur voluptatibus deserunt culpa eius magnam unde et quia 
                        ipsum, aliquam ex autem suscipit! Et, numquam..</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Lionel Messi</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Officiis commodi sapiente, at accusamus harum consequuntur voluptatibus deserunt culpa eius magnam unde et quia 
                        ipsum, aliquam ex autem suscipit! Et, numquam..
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Bizarrap</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Officiis commodi sapiente, at accusamus harum consequuntur voluptatibus deserunt culpa eius magnam unde et quia 
                        ipsum, aliquam ex autem suscipit! Et, numquam..</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/Cougar.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="img/RogStrix.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="img/TUF.png" class="d-block w-100" alt="...">
        </div>
    </div>
</div>